.header img {
    width: 150px;
}

.header .btnCart {
    float: right;
    margin: 60px 10px;
    background-color: #fdf3e7;
    border: 0.5px solid #F29B30;
} 

.header .btnCart .closeCart {
    float: right;
    background-color: #F29B30;
    color: #fdf3e7;
    padding: 1px 10px 7px 10px;
}

.header .btnCart .priceCart {
    float: left;
    color: #F29B30;
    font-weight: bold;
    padding: 3px 10px 3px 10px;
}